@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}
nav{
    background-image: linear-gradient(to bottom, transparent, aliceblue);
    width: 100%;
    margin-bottom: 40px;
    padding: 30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
}
nav a{
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 255, 0.144);
    padding: 5px;
    margin-right: 3.4px;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459);
}
nav a:hover{
    background-color: rgba(82, 82, 233, 0.479);
    color: white;
}
h1{
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
}
main{
    display: inline-block;
    text-align: center;
    max-width: 700px;   
    margin-left: 5px;
    margin-bottom: 40px;
    line-height: 45px;
    text-indent: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
    padding: 5px;
}
main#pag2{
    max-width: 100%;
    line-height: 25px;
}
main#pag4{
    display: block;
    max-width: 500px;
    text-align: center;
    line-height: 25px;
    margin: auto;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
}
article{
    background-color: rgba(197, 197, 212, 0.664);
    max-width: 600px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}
article p{
    display: none;
    background-image: linear-gradient(to bottom, white, rgb(197, 250, 232));
    border-radius: 4px;
    margin-top: 15px;
    padding: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
}
article:hover p{
    display: block;
}
img{
    display: inline-block;
    max-width: 100%; 
    margin-bottom: 8%;
    margin-left: 120px;
}
img#whatsup{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -130px;
}
p#whatsup{
    margin-top: -55px;
    margin-bottom: 30px;

}
section{
    display: inline-block;  
    background-image: linear-gradient(to bottom, rgba(201, 216, 216, 0.651), rgba(201, 238, 238, 0.616));
    max-width:35%;
    margin: 30px 5px 15px 15px;
    padding: 5px;
    border: 1px dotted black;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
}
abbr{
    color: rgb(22, 2, 36);
    font-weight: bold;
}
small{
    display: inline-block;
    margin: 20px;
    margin-bottom: -30px;
}
h2{
    text-align: center;
    padding-bottom: 15px;
    font-variant: small-caps;
    text-indent: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
}
table{
    margin: auto;
    border-collapse: collapse;
    max-width: 400px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
}
caption{
    margin-bottom: 15px;
    margin-top: 30px;
}
td,th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.13);  
}
th{
    background-color: rgba(0, 0, 255, 0.144);
}
th.principal{
    background-color: rgb(205, 191, 224);
}
tbody > tr:nth-child(even){
    background-color: rgb(204, 239, 247);
}
footer{
    background-color: rgb(213, 250, 250);
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.075);
}
address{
    width: 180px;
    padding-left: 20px;
    text-decoration: none;
}
address.pg4{
    margin: auto;
    text-align: center;
    width: 220px;
}
div{
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
    margin-top: 15PX;
    margin-left: 95px;
    margin-bottom: 15px;
}
div#veronica{
    text-align: right;
    margin: 30px 3px 0px 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-variant: small-caps;}