@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
nav{
    background-image: linear-gradient(to bottom, transparent, aliceblue);
    margin-bottom: 40px;
    padding: 30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
}
nav a{
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 255, 0.144);
    padding: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459);
}
nav a:hover{
    background-color: rgba(82, 82, 233, 0.479);
    color: white;
}
h1{
    text-align: center;
    padding: 10px;
}
main{
    display: inline-block;
    text-align: center;
    max-width: 700px;
    
    margin-left: 5px;
    margin-bottom: 40px;
    line-height: 45px;
    text-indent: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}
article{
    background-color: rgba(197, 197, 212, 0.664);
    max-width: 600px;
    margin-left: 60px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}
article p{
    display: none;
    background-image: linear-gradient(to bottom, white, rgb(197, 250, 232));
    border-radius: 4px;
    margin-top: 15px;
    padding: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
}
article:hover p{
    display: block;
}
img{
    display: inline-block;
    max-width: 100%; 
    margin-bottom: 8%;
    margin-left: 150px;
}
section{
   
}

footer{
    background-color: rgb(213, 250, 250);
    padding: 10px;
    margin-top: 60px;
    text-align: center;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.075);
}
address{
    width: 180px;
    padding-left: 20px;
    text-decoration: none;
}
div{
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
    margin-top: 15PX;
    margin-left: 95px;
    margin-bottom: 15px;
}
div#veronica{
    text-align: right;
    margin-top: 30px;
    margin-right: 3px;
    margin-left: 200px;
    
    font-size: 12px;

}