*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    padding: 15px 15px;
    position: fixed;
    background-color: rgb(238, 229, 238);
    width: 100%;
}
header nav ul{
    list-style: none;
    text-align: center;
}
header nav ul li{
    display: inline;
}
header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 2px 10px;
    display: inline-block;
}
header nav ul li a:hover{
    color: darkgray;
}
section{
    border: 1px solid black;
    width:  100%;
    height: 500px;
}
section:nth-child(odd){
    background-color: rgb(64, 62, 77);
}
section, footer{
    padding: 60px;
}
article{
    width: 100%;
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
.borda0{
    border: none;
}
.borda1{
    border: 1px solid black;
}
.borda2{
    border: 1px solid red;
}
.flexivel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ANIMAÇÕES */
[data-anima]{
    opacity: 0;
    transition: 0.5s;
}
[data-anima = 'esquerda']{
    transform: translate3d(-50px, 0, 0); /*x y z Os números ao lado são as posições de cada letra. */

}
[data-anima = 'direita']{
    transform: translate3d(-50px, 0, 0);
}
[data-anima = 'centro']{
    transform: translate3d(0px, 50px, 0);
    }
[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}    